.navbar-logo {
  max-height: 35px;
}

.center-text h2 {
  text-align: center;
}

/* Form container */
.container {
width: 57%;
margin: 0 auto;
}

.nav-footer {
  position:relative;
  font-size: 16px;
}

.nav-link {
  position: relative;
}

.nav-footer-center {
  position: relative;
  margin-top: 0em;
}

.nav-footer-right {
  position: relative;
}

.nav-footer-left {
  position: relative;
}