.navbar-logo {
  max-height: 35px;
}

.center-text h2 {
  text-align: center;
}

.nav-footer {
  position:relative;
  font-size: 16px;
}

a {
  text-decoration: none !important;
}

.nav-link {
  position: relative;
}

.nav-footer-center {
  position: relative;
  margin-top: 0em;
}

.nav-footer-right {
  position: relative;
}

.nav-footer-left {
  position: relative;
}

/* Form container */
.container {
width: 60%;
margin: 0 auto;
}

/* Button layout*/
.btn-secondary {
    margin-top: -9px;
}