/*-- scss:defaults --*/

// Navigation element colors
//$footer-bg: #A7D5E8;
$footer-fg: #181818;
$navbar-bg: #A7D5E8;
$navbar-fg: #181818;


/*-- scss:rules --*/
// change category keywords color 
.quarto-grid-item .listing-categories .listing-category {
  color: #007bff;
}

// card background color
.card {
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e9ecef;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

// change about page navigate tabs' color
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #62c462;
}

// Chang Light and Dark Theme Toggle Icon
.navbar .quarto-color-scheme-toggle:not(.alternate) .bi::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>')!important;
}

// add see all button
.btn-primary {
  background-color: #181818;
  margin-top: -9px;
  border-color: #181818;
}
