/*-- scss:defaults --*/

// Base document colors
$body-bg: #23252f;
$body-color: white;
$link-color: #75AADB;


// Navigation element colors
//$footer-bg: #181818;
$footer-fg: white;
$navbar-bg: #282a36;
$navbar-fg: white;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;
$dropdown-bg: $body-bg;
$dropdown-color: $body-color;
$dropdown-link-color: $body-color;
$dropdown-link-hover-bg: $gray-600;
$dropdown-link-hover-color: white;

/*-- scss:rules --*/
// change grid card body color
.card-body.post-contents {
  background-color: #303030;
}

// change category keywords color
.quarto-grid-item .listing-categories .listing-category {
  color: #f89406;
}

// change about page navigate tabs' color
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #e83e8c;
}

// Chang Light and Dark Theme Toggle Icon
.navbar .quarto-color-scheme-toggle.alternate .bi::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="orange" stroke="yellow" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>')!important;
}

// add see all button
.btn-primary {
  background-color: #A7D5E8;
  margin-top: -9px;
  border-color: #A7D5E8;
}


// dark body background
body {
    background-color: #23252f;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2334384f' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-position: top;
    background-size: 3%;
    background-attachment: fixed;
}
