/*-- scss:defaults --*/

// Navigation element colors
//$footer-bg: #A7D5E8;
$footer-fg: #181818;
$navbar-bg: #A7D5E8;
$navbar-fg: #181818;


/*-- scss:rules --*/
// change category keywords color 
.quarto-grid-item .listing-categories .listing-category {
  color: #007bff;
}

// change about page navigate tabs' color
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #62c462;
}

// Changing Light and Dark Theme Toggle Icon
.navbar .quarto-color-scheme-toggle:not(.alternate) .bi::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="blue" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>')!important;
}

// add see all button
.btn-primary {
  background-color: #181818;
  margin-top: -9px;
  border-color: #181818;
}
